body {
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#4F646F, #1c1d1d);
    color: #DEE7E7;
    text-align: center;
}

h1, h2, h3, h4, p {
    text-shadow: 0px 0px 4px black;
}

#avatar {
    border: 8px solid #535657;
    border-radius: 50%;
    width: 300px;
}

#bday-age, #bday-date {
    background: #535657;
    padding: 10px 25px;
    border: .1px solid;
    border-radius: 5px;
}

#bday-age {
    margin: 30px 0 15px 0;
}

#bday-date {
    margin: 0;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gift-section{
    margin: 50px;
}

.gift-title {
    margin-bottom: 20px; 
}

.gift-hint {
    margin-top: 0;
}

.gift-cover {
    margin: 0 auto;
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    height: 400px;
    width: 400px;
    border: 5px solid white;
    border-radius: 10px;
    
}

#gift-cover-1:hover {
    background-image: url("images/happy.gif");
}

#gift-cover-2:hover {
    background-image: url("images/hot.gif");
}

#gift-cover-3:hover {
    background-image: url("images/brilliant.webp");
    background-position: -75px 0px;
}

#gift-cover-4:hover {
    background-image: url("images/Chuck.gif");
    background-position: -75px 0px;
}

#gift-cover-5 {
    height: 200px;
}

#gift-cover-5:hover {
    background-image: url("images/cheers.gif");
}

#footer {
    font-style: italic;
    width: 400px;
    margin: 50px auto 30px;
}

a {
    color: white;
}