body {
    font-family: 'Happy Monkey', cursive;
    background-color: #4F646F;
    color: #DEE7E7;
    
}

#hero {
    text-align: center;
}

#avatar {
    border: 8px solid #535657;
    border-radius: 50%;
    width: 300px;
  }